# 1. Info

The main purpose of this notebook is to prepare the data and make the EDA to the data. 

Before running this notebook, ensure the file **Hotel_Reservations.csv** is inside the folder **data** to ensure the correct functionality.

# 2. EDA

## 2.1. Import Libraries

In [1]:
import pandas as pd
import numpy as np

## 2.2 Read the data

In [2]:
data = pd.read_csv("../data/Hotel_Reservations.csv")

## 2.3. Quick peek

In [3]:
data.shape

(36275, 19)

In [4]:
data.head().T

,0,1,2,3,4
Booking_ID,INN00001,INN00002,INN00003,INN00004,INN00005
no_of_adults,2,2,1,2,2
no_of_children,0,0,0,0,0
no_of_weekend_nights,1,2,2,0,1
no_of_week_nights,2,3,1,2,1
type_of_meal_plan,Meal Plan 1,Not Selected,Meal Plan 1,Meal Plan 1,Not Selected
required_car_parking_space,0,0,0,0,0
room_type_reserved,Room_Type 1,Room_Type 1,Room_Type 1,Room_Type 1,Room_Type 1
lead_time,224,5,1,211,48
arrival_year,2017,2018,2018,2018,2018
arrival_month,10,11,2,5,4
arrival_date,2,6,28,20,11
market_segment_type,Offline,Online,Online,Online,Online
repeated_guest,0,0,0,0,0
no_of_previous_cancellations,0,0,0,0,0
no_of_previous_bookings_not_canceled,0,0,0,0,0
avg_price_per_room,65.0,106.68,60.0,100.0,94.5
no_of_special_requests,0,1,0,0,0
booking_status,Not_Canceled,Not_Canceled,Canceled,Canceled,Canceled

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

The dataset contains 3 caterical features, 1 primary key, and 14 numerical features. There are no null values which is great because all the data is complete.

## 2.4 Categorical variable

In [8]:
categorical = ['type_of_meal_plan','room_type_reserved','market_segment_type']

In [9]:
for categorical_col in categorical:
    print(f"{categorical_col} : {len(data[categorical_col].unique().tolist())}")
    print(f"{data[categorical_col].unique().tolist()}")

type_of_meal_plan : 4
['Meal Plan 1', 'Not Selected', 'Meal Plan 2', 'Meal Plan 3']
room_type_reserved : 7
['Room_Type 1', 'Room_Type 4', 'Room_Type 2', 'Room_Type 6', 'Room_Type 5', 'Room_Type 7', 'Room_Type 3']
market_segment_type : 5
['Offline', 'Online', 'Corporate', 'Aviation', 'Complementary']

In [15]:
type_of_meal_plan_index = [value for value in range(0,len(data['type_of_meal_plan'].unique().tolist()))]
room_type_reserved_index = [value for value in range(0,len(data['room_type_reserved'].unique().tolist()))]
market_segment_type_index = [value for value in range(0,len(data['market_segment_type'].unique().tolist()))]

In [23]:
type_of_meal_plan_dict = dict(zip(data['type_of_meal_plan'].unique().tolist(),type_of_meal_plan_index))
room_type_reserved_dict = dict(zip(data['room_type_reserved'].unique().tolist(),room_type_reserved_index))
market_segment_type_dict = dict(zip(data['market_segment_type'].unique().tolist(),market_segment_type_index))

In [26]:
data['type_of_meal_plan'] = data['type_of_meal_plan'].replace(type_of_meal_plan_dict)
data['room_type_reserved'] = data['room_type_reserved'].replace(room_type_reserved_dict)
data['market_segment_type'] = data['market_segment_type'].replace(market_segment_type_dict)

In [27]:
data.head().T

,0,1,2,3,4
Booking_ID,INN00001,INN00002,INN00003,INN00004,INN00005
no_of_adults,2,2,1,2,2
no_of_children,0,0,0,0,0
no_of_weekend_nights,1,2,2,0,1
no_of_week_nights,2,3,1,2,1
type_of_meal_plan,0,1,0,0,1
required_car_parking_space,0,0,0,0,0
room_type_reserved,0,0,0,0,0
lead_time,224,5,1,211,48
arrival_year,2017,2018,2018,2018,2018
arrival_month,10,11,2,5,4
arrival_date,2,6,28,20,11
market_segment_type,0,1,1,1,1
repeated_guest,0,0,0,0,0
no_of_previous_cancellations,0,0,0,0,0
no_of_previous_bookings_not_canceled,0,0,0,0,0
avg_price_per_room,65.0,106.68,60.0,100.0,94.5
no_of_special_requests,0,1,0,0,0
booking_status,Not_Canceled,Not_Canceled,Canceled,Canceled,Canceled